<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
{% load static %}
<html>
<head>
	
	<link rel="stylesheet" href="{% static 'css/modal.css' %}">
	
</head>

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="card center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">¿Que desea hacer?</h5>

                <form method="get" action= "#">
                    <div class="texto-center">
                      
                        <button type="submit" name="button" value="button" class="btn login_btn">Resumen de Pedidos</button>
                          
                    </div>
                    <div class="texto-center">
                    <button type="submit" name="atras" value="atras" class="btn login_btn">Hacer otro pedido</button>
                 </div>		
                </form>
                 
            </div>
        </div>
    </div>
<div>    
    
  </div>


<html>













    


    






